.button-section {
  margin-top: 0px;
}


.module-list {
  margin-top: 20px;
}

.button-section,
.module-list {
  display: block;
}

.wd-courses {
  margin: 10px;
}

.wd-courses nav .breadcrumb-item {
  --bs-breadcrumb-divider: ">";
}

.wd-courses nav .breadcrumb-item.active {
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 0px;
}

.wd-courses span.red-color {
  color: #b52828;
}

.wd-courses .wd-icon {
  color: #b52828;
  font-size: 1.8em;
  margin-right: 5px;
}

.top-b123 {
  margin-top: 0px;
  width: 100%;
}

.text-success-circles {
  color: #0daf7e;
}



.modal {
  display: none;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}